@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', 'Raleway';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #181618;
  --bright: #f6f6f6;
  --accent: #ff6f61;
  --semidark: #64748b;
}

body::before {
    --line: rgba(24, 22, 24, 0.25);
    --size: 60px;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(--size) var(--size),
        linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0 -5vmin / var(--size) var(--size);
    mask: linear-gradient(-15deg, transparent 60%, #f6f6f6);
    top: 0;
    z-index: -1;
}

.menu-line {
  width: 1.875rem;
  height: 0.125rem;
  background-color: var(--dark);
  margin: 8px 0;
  display: block;
  transition: all 0.4s ease-in-out;
}

.menu-act > span:nth-child(1) {
  transform: rotate(45deg);
}

.menu-act > span:nth-child(2) {
  opacity: 0;
}

.menu-act > span:nth-child(3) {
  background-color: var(--accent);
  transform: rotate(-45deg);
}

.shadow-nav {
  box-shadow: -2px 1px 0px var(--dark);
}

.border-top {
  border-top: 0.3px solid var(--dark);
}

nav ul li a {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 100%;
  height: 2.3px;
  background-color: var(--dark);
  transform-origin: bottom;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

nav ul li a:hover {
  transform: translateY(-4px);
}

nav ul li a:hover::after {
  transform: translateX(-50%) scaleY(1);
}

.navFix {
  border-bottom: 0.3px solid var(--dark);
  position: fixed;
  backdrop-filter: blur(8px);
}

.btn a {
  position: relative;
  padding: 4px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bright);
  margin: 5px;
  transition: 1s;
  overflow: hidden;
  text-decoration: none;
}

.btn a:hover {
  background: var(--accent);
}

.btn a::before {
  content: "";
  position: absolute;
  width: 1.0625rem;
  height: 1000%;
  background: var(--accent);
  transition: 1s;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.33s * 1);
}

.btn a:hover::before {
  width: 100%;
}

.btn {
  animation: headShake 2s infinite;
  
  &:hover {
    animation: none;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn a::after {
  content: "";
  position: absolute;
  background: var(--bright);
  inset: 3px;
  transition: 0.5s;
}

.btn a:hover::after {
  background: var(--accent);
}

.btn a span {
  position: relative;
  z-index: 1;
  color: var(--dark);
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.btn a:hover span {
  opacity: 1;
  color: var(--bright);
}

input, textarea {
  outline-color: var(--accent);
}

.social-icons a, .btn {
  display: inline-block;
  color: var(--dark);
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.social-icons a:hover, .btn:hover {
  transform: translateY(-4px);
}
.social-icons a i:hover {
  animation: bounce 1s;
}
.social-icons a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 100%;
  height: 2.3px;
  background-color: var(--dark);
  transform-origin: bottom;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  width: 100%;
  height: 2.3px;
  background-color: var(--dark);
  transform-origin: bottom;
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s;
}

.social-icons a:hover::after, .btn:hover::after {
  transform: translateX(-50%) scaleY(1);
}

.shadow-box {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-box:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-image: linear-gradient(to bottom right, #ffffff, #f9fafb);
}

.shadow-box h3 {
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
  color: #4b5563;
  transition: color 0.3s ease-in-out;
}

.shadow-box:hover h3 {
  color: #ff6f61;
}

.shadow-box i {
  font-size: 1.875rem;
  color: #64748b;
  transition: all 0.3s ease-in-out;
}

.shadow-box:hover i {
  color: #181618;
  transform: scale(1.1);
}

.shadow-box p {
  text-align: center;
  color: #4b5563;
}

section {
  scroll-margin-top: 100px;
}

.contact-info i, .social-icons i {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .contact-info i, .social-icons i {
    font-size: 1.5rem;
  }
  
  body::before {
        mask: linear-gradient(-45deg, transparent 60%, #f6f6f6);
    }
}

@media (min-width: 769px) {
  .social-icons i, .contact-info i {
    font-size: 2rem;
  }
  .project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slider {
    max-width: 50%;
  }
}

.quote::before {
  content: '❛❛';
  color: var(--dark);
  font-size: 24px;
  margin-right: 5px;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: none;
  justify-content: space-between;
}

.slider:hover .controls {
  display: flex;
}

.controls button {
  background: none;
  border: none;
  color: var(--bright);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  
  &:hover {
    color: var(--accent);
  }
}

.nav-service, .nav-project, .nav-about, .nav-contact {
  &:hover {
    animation: headShake 1s;
  }
}

p{
  font-family: 'Raleway', 'Montserrat';
}

.fa-instagram:hover {
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin-in:hover {
  background: linear-gradient(45deg, #0077b5, #00a0dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-github:hover {
  color: var(--accent);
}